@media (prefers-color-scheme: light) {
  :root {
    --bg: white;
    --bg-dim: #f0f0f0;
    --on-bg: #555;
    --on-bg-dim: #595959;
    --border: #9f9f9f;
    --secondary: #f3f4f6;
    --on-secondary: #555;
    --accent: #075985;
    --maroon: #731c52;
    --slate: #2f3f83;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #18181b;
    --bg-dim: #1e1e1e;
    --on-bg: #efefef;
    --on-bg-dim: #989898;
    --border: #646464;
    --secondary: #27272a;
    --on-secondary: #52525b;
    --accent: #a5b4fc;
    --maroon: #cf7fa7;
    --slate: #76afbf;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--on-bg);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  margin: 0 6rem;
}

p {
  padding: 10px 0;
}

p a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.main {
  flex: auto;
  padding: 20px;
  position: relative;
}

.main__title {
  padding: 10px 0;
}

.main a {
  color: var(--accent);
}

code  {
  background: var(--secondary);
  color: var(--accent);
  border-radius: 5px;
  padding: 2px 4px;
}

.list {
  list-style: none;
  padding: 10px 0;
}

.descriptions__wrapper {
  padding: 4px 0;
}

.descriptions__title {
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.descriptions__text {
  padding-left: 30px;
}

.list-item--type-bulleted::before {
  content: "\2022";
  font-size: 20px;
  padding: 10px 10px 0 0;
  line-height: 1;
  box-sizing: border-box;
  color: var(--accent);
}

.post__subtitle {
  font-style: italic;
}

.post-container {
  padding: 20px 0;
}

.navbar {
  height: 120px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar__images {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  white-space: nowrap;
  font-weight: 600;
}

.navbar__link {
  text-decoration: none;
  color: var(--on-bg);
}

.navbar__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: none;
  background: var(--bg);
  overflow: hidden;
  transition: max-height .2s ease-out;
  z-index: 999;
}

.navbar__menu {
  height: inherit;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.menu-item {
  padding: 20px;
}

.menu-item__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--on-bg-dim);
  border-bottom: 2px solid transparent;
  padding: 5px 0;
}

.menu-item__link:hover {
  color: var(--on-bg);
  border-color: var(--on-bg);
}

.menu-item__link--selected, .menu-item__link--selected:hover {
  color: var(--on-bg);
  border-color: var(--accent);
}

.navbar__menu-icon {
  cursor: pointer;
  float: right;
  display: none;
}

.menu-icon {
  height: 2px;
  width: 24px;
  display: block;
  position: relative;
  background: var(--on-bg);
}

.menu-icon::before, .menu-icon::after {
  background: var(--on-bg);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon::before {
  top: 5px;
}

.menu-icon::after {
  top: -5px;
}

.navbar__mobile-menu {
  display: none;
}

.navbar__mobile-menu:checked ~ .navbar__nav {
  max-height: calc(100vh - 80px);
}

.navbar__mobile-menu:checked ~ .navbar__images .menu-icon {
  background: transparent;
}

.navbar__mobile-menu:checked ~ .navbar__images .menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar__mobile-menu:checked ~ .navbar__images .menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.body-container {
  min-height: calc(100vh - 120px);
  height: auto;
  max-height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.footer__wrapper {
  width: 100%;
  padding: 10px 0;
}

.footer__icon {
  padding: 0 10px;
  font-size: 1.2rem;
}

.footer__link {
  color: var(--accent);
  font-weight: 600;
}

.hero__title, .portfolio__title, .blog__title {
  padding: 10px 0px;
}

.codeblock {
  background: var(--bg-dim);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  white-space: pre-wrap;
  min-width: 100%;
  max-width: 100%;
  display: inline-block;
  overflow-x: scroll;
}

.codeblock__code {
  background: inherit;
  color: var(--on-bg);
  border-radius: none;
}

.project__subtitle {
  color: var(--on-bg-dim);
  font-style: italic;
}

.project__icon {
  padding-right: 10px;
}

.project__metadata {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project__metadata-items {
  text-align: center;
  white-space: nowrap;
  padding: 2px 20px 2px 0;
}

.syntax-special, .syntax-element {
    color: #8ac6f2;
    font-weight: bold;
}

.syntax-string {
  color: var(--slate);
}

.syntax-keyword, .syntax-attribute {
  color: var(--maroon);
}

.syntax-comment {
    color: #999;
}

.syntax-open, .syntax-close {
    color: #999;
}

.post__image {
  border-radius: 5px;
}

figure {
  margin: 30px 10px;
  border-radius: 5px;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 5px 0;
  color: var(--on-bg-dim);
}

.button--type-bare {
  background: none;
  border: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  margin: 20px 0;
  color: var(--on-bg-dim);
}

.button--type-bare .button__label {
  color: var(--on-bg-dim);
}

.button__icon {
  padding-right: 10px;
}

.portfolio {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-item {
  border: 1px solid var(--on-secondary);
  display: block;
  background: var(--secondary);
  border-radius: 5px;
  flex: 0 auto;
  padding: 15px;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  min-height: 200px;
  max-height: 200px;
  box-sizing: border-box;
  margin: 15px;
}

.project-item__title {
  font-weight: bold;
  font-size: 1.3rem;
}

.project-item:hover .project-item__title {
  text-decoration: underline;
}

.project-item__synopsis {
  color: var(--on-bg);
  font-size: 1rem;
}

.tags {
  display: flex;
  padding: 10px 0;
}

.tag {
  list-style: none;
  background: var(--secondary);
  border-radius: 12px;
  border: 1px solid var(--accent);
  padding: 5px 10px;
  margin: 2px 5px 2px 0;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--accent);
  white-space: nowrap;
}

.blog--type-preview {
  padding: 40px 0 20px 0;
}

.blog__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__wrapper {
  padding: 10px 0;
}

.button--type-border {
  text-decoration: none;
  background: var(--secondary);
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--on-bg);
}

.button--type-border:hover {
  border: 1px solid var(--border);
  cursor: pointer;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary);
  color: var(--on-bg);
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
}

.post-item:last-of-type {
  border-bottom: none;
}

.post-item:hover {
  text-decoration: none;
}

.post-item:hover .post-item__title {
  text-decoration: underline;
}

.post-item__title {
  color: var(--on-bg);
  padding: 10px 0;
}

.post-item__date {
  color: var(--accent);
  font-family: monospace;
  font-size: 1rem;
}

.not-found {
  height: 100%;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  main, header {
    margin: 0 auto;
    min-width: 70rem;
    max-width: 70rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  main, header {
    margin: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 15px;
    margin: 0;
  }

  .body-container {
    min-height: calc(100vh - 80px);
  }

  .navbar {
    height: 80px;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
  }

  .main {
    padding-top: 0;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
  }

  .navbar__images {
    width: 100%;
  }

  .navbar__menu-icon {
    display: block;
  }

  .project-item {
    min-width: 250px;
    max-width: 250px;
  }

  .tag {
    font-size: 0.6rem;
  }

  .navbar__nav {
    max-height: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 80px;
  }

  .navbar__menu {
    flex-direction: column;
  }

  .menu-item {
    font-size: 18px;
  }

  .button--type-bare {
    font-size: 15px;
  }

  .post-item {
    font-size: 1rem;
  }

  .post-item__date {
    font-size: .9rem;
  }
}

@media screen and (max-width: 468px) {
  .post-item__date {
    display: none;
  }

  .project-item {
    min-width: 100%;
    max-width: 100%;
  }
}
