:root {
  --base00: #ffffff;
  --base01: #f0f0f0;
  --base02: #e0e0e0;
  --base03: #c2c2c2;
  --base04: #c4c4c4;
  --base05: #000000;
  --base06: #595959;
  --base07: #9f9f9f;
  --base08: #a60000;
  --base09: #f5d0a0;
  --base0A: #6f5500;
  --base0B: #00663f;
  --base0C: #005e8b;
  --base0D: #3548cf;
  --base0E: #e07fff;
  --base0F: #624416;
  --navbar-height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #000000;
    --base01: #1e1e1e;
    --base02: #313131;
    --base03: #303030;
    --base04: #646464;
    --base05: #ffffff;
    --base06: #e0e0e0;
    --base07: #0000c0;
    --base08: #ff5f59;
    --base09: #ff6b55;
    --base0A: #d0bc00;
    --base0B: #6ae4b9;
    --base0C: #00d3d0;
    --base0D: #79a8ff;
    --base0E: #b6a0ff;
    --base0F: #7a6100;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--base00);
  color: var(--base05);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

p {
  padding: 10px 0;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

ul:has(+ h2) {
  margin-bottom: 3rem;
}

h2 {
  word-break: break-all;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.main {
  flex: auto;
  position: relative;
}

.main__title {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__anchor {
  color: var(--base0D);
}

button .main__anchor {
  text-decoration: none;
  color: var(--base05);
  display: block;
  height: 100%;
  padding: 10px 15px;
}

code {
  background: var(--base01);
  color: var(--base0D);
  border-radius: 5px;
  padding: 2px 4px;
}

pre > code {
  color: var(--base05);
}

.list {
  list-style: none;
  padding: 10px 0;
}

.descriptions__wrapper {
  padding: 4px 0;
}

.descriptions__title {
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.descriptions__text {
  padding-left: 30px;
}

.list-item--type-bulleted::before {
  content: "\2022";
  font-size: 20px;
  padding: 10px 10px 0 0;
  line-height: 1;
  box-sizing: border-box;
  color: var(--base0D);
}

.post__subtitle {
  font-style: italic;
  margin: 0;
}

.post__container {
  padding: 20px 0;
}

.post__container a {
  text-decoration: none;
  color: var(--base0D);
}

.navbar {
  height: var(--navbar-height);
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  background: var(--base01);
  align-items: center;
  border-bottom: 1px solid var(--base02);
  z-index: 10;
}

.navbar__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  font-weight: 600;
}

.navbar__link {
  text-decoration: none;
  color: var(--base05);
  width: fit-content;
  display: block;
}

.navbar__link:hover {
  text-decoration: none;
}

.navbar__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: none;
  overflow: hidden;
  z-index: 20;
}

.navbar__menu {
  height: inherit;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  justify-content: flex-end;
  padding: 0;
}

.menu-item {
  padding: 20px;
}

.menu-item__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--base06);
  border-bottom: 2px solid transparent;
  padding: 5px 0;
}

.menu-item__link:hover {
  text-decoration: none;
  color: var(--base05);
  border-color: var(--base05);
}

.menu-item__link--selected,
.menu-item__link--selected:hover {
  color: var(--base05);
  border-color: var(--base0D);
}

.navbar__menu-icon {
  cursor: pointer;
  float: right;
  display: none;
  padding: 1rem 0.5rem;
}

.menu-icon {
  height: 2px;
  width: 24px;
  display: block;
  position: relative;
  background: var(--base05);
}

.menu-icon::before,
.menu-icon::after {
  background: var(--base05);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon::before {
  top: 5px;
}

.menu-icon::after {
  top: -5px;
}

.navbar__mobile-menu {
  display: none;
}

.navbar__mobile-menu:checked ~ .navbar__menu {
  max-height: calc(100vh - var(--navbar-height));
}

.navbar__mobile-menu:checked ~ .navbar__images .menu-icon {
  background: transparent;
}

.navbar__mobile-menu:checked ~ .navbar__images .menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar__mobile-menu:checked ~ .navbar__images .menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.body-container {
  min-height: calc(100vh - var(--navbar-height));
  height: auto;
  max-height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.footer__wrapper {
  width: 100%;
  padding: 4rem 0;
}

.footer__icon {
  padding: 0 10px;
  font-size: 1.2rem;
}

.footer__link {
  color: var(--base0D);
  font-weight: 600;
}

.hero {
  padding: 30px 0 40px 0;
}

.hero__title {
  padding: 10px 0px;
  font-size: 3rem;
}

.hero p {
  line-height: 2.5rem;
  font-size: 1.2rem;
}

.codeblock,
.src,
pre {
  background: var(--base01);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  white-space: pre-wrap;
  min-width: 100%;
  max-width: 100%;
  display: inline-block;
  overflow-x: scroll;
  font-size: 1rem;
}

.codeblock__code {
  background: inherit;
  color: var(--base05);
  border-radius: none;
}

blockquote {
  background: var(--base01);
  padding: 0 1rem;
  border-left: 4px solid var(--base0D);
}

.project__subtitle {
  color: var(--base06);
  font-style: italic;
  margin: 0;
}

.project__icon {
  padding-right: 10px;
}

.project__metadata {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.project__metadata-items {
  white-space: nowrap;
}

.project__link {
  color: var(--base0D);
}

.project__license {
  color: var(--base06);
  font-weight: 500;
}

.project__link:hover {
  text-decoration: underline;
}

.project__container {
  padding: 1rem 0;
}

.project__container a {
  color: var(--base0D);
}

.post__image {
  border-radius: 5px;
}

figure {
  margin: 30px 10px;
  border-radius: 5px;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 5px 0;
  color: var(--base06);
}

.button--type-bare {
  background: none;
  border: none;
  font-size: 1rem;
  margin: 20px 0;
  color: var(--base06);
}

.button--type-bare .button__label {
  color: var(--base06);
}

.button {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.button__icon {
  padding-right: 10px;
}

.blog,
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio-entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio--type-preview .portfolio-entries {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-item {
  border: 1px solid var(--base02);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background: var(--base01);
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px 25px;
  min-height: 200px;
  max-height: 250px;
  box-sizing: border-box;
  margin: 15px;
}

.portfolio--type-preview .project-item {
  min-height: 170px;
}

.portfolio--type-preview .project-item__synopsis {
  font-size: 0.8rem;
}

.portfolio--type-preview .project-item__title {
  font-size: 1rem;
}

.project-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-item__heading {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.project-item__link {
  color: var(--base06);
  margin-left: 15px;
}

.project-item__title {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--base0D);
}

.project-item__title:hover {
  text-decoration: underline;
}

.project-item__synopsis {
  color: var(--base06);
  font-size: 1rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.tag {
  list-style: none;
  background: var(--base02);
  border-radius: 8px;
  border: 1px solid var(--base03);
  padding: 0 10px;
  font-size: 0.8rem;
  color: var(--base06);
  white-space: nowrap;
}

.tag__link {
  color: var(--base0D);
}

.tag__link:hover {
  text-decoration: none;
}

.blog--type-preview,
.portfolio--type-preview {
  padding: 50px 0;
}

.blog__title,
.portfolio__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__wrapper {
  padding: 10px 0;
}

.button--type-border {
  text-decoration: none;
  background: var(--base01);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border: 1px solid var(--base02);
  border-radius: 5px;
  color: var(--base05);
}

.button--type-border:has(a) {
  padding: 0;
}

.button--type-border:hover {
  border: 1px solid var(--base04);
  cursor: pointer;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--base01);
  color: var(--base05);
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
}

.post-item:last-of-type {
  border-bottom: none;
}

.post-item:hover {
  text-decoration: none;
}

.post-item:hover .post-item__title {
  text-decoration: underline;
}

.post-item__title {
  color: var(--base05);
  padding: 10px 0;
}

.post-item__date {
  color: var(--base0D);
  font-family: monospace;
  font-size: 1rem;
}

.not-found {
  height: 100%;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  main,
  .navbar__nav {
    margin: 0 auto;
    min-width: 60rem;
    max-width: 60rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  main,
  .navbar__nav {
    margin: 0 auto;
    min-width: 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 15px;
  }

  .navbar__nav {
    margin: 0 auto;
    min-width: 90%;
    max-width: 90%;
  }

  .main {
    padding-top: 0;
    margin: 0 auto;
    min-width: 90%;
    max-width: 90%;
  }

  .navbar__menu-icon {
    display: block;
  }

  .navbar__menu {
    max-height: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    top: var(--navbar-height);
    flex-direction: column;
    justify-content: center;
    background: var(--base01);
  }

  .navbar__images {
    width: 100%;
  }

  .menu-item {
    font-size: 18px;
  }

  .button--type-bare {
    font-size: 15px;
  }

  .post-item {
    font-size: 1rem;
  }

  .post-item__date {
    font-size: 0.9rem;
  }

  .footer__icon {
    font-size: 0.9rem;
    padding: 0 7px;
  }
}

@media screen and (max-width: 468px) {
  .post-item__date {
    display: none;
  }
}
