@media (prefers-color-scheme: light) {
  :root {
    --bg: white;
    --on-bg: #555;
    --secondary: #f3f4f6;
    --on-secondary: #555;
    --accent: #075985;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #18181b;
    --on-bg: #efefef;
    --secondary: #27272a;
    --on-secondary: #52525b;
    --accent: #a5b4fc;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--on-bg);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  margin: 0 6rem;
}

p {
  padding: 10px 0;
}

a {
  text-decoration: none;
}

main a {
  color: var(--accent);
}

main dl, main ul {
  list-style: none;
  padding: 10px 0;
}

main dl div {
  padding: 4px 0;
}

main dl div dt {
  white-space: nowrap;
}

main dl div dd {
  padding-left: 30px;
}
main dl.bulleted dt::before, main ul li::before {
  content: "\2022";
  font-size: 15px;
  vertical-align: middle;
  padding: 0 5px;
  line-height: 1.7;
  color: var(--accent);
}

main dl a, main ul a {
  font-weight: bold;
}

#post-container {
  padding: 20px 0;
}

header {
  height: 80px;
  border-bottom: 1px solid var(--secondary);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0 30px 0 20px;
}

#logo a {
  text-decoration: none;
  color: var(--on-bg);
}

nav {
  display: flex;
  align-items: center;
  max-height: none;
  background: var(--bg);
  overflow: hidden;
  transition: max-height .2s ease-out;
}

nav ul {
  height: inherit;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 20px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--on-bg);
}

.hamburger {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  display: none;
}

.hamburger-icon {
  height: 2px;
  width: 24px;
  display: block;
  position: relative;
  background: var(--on-bg);
}

.hamburger-icon::before, .hamburger-icon::after {
  background: var(--on-bg);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamburger-icon::before {
  top: 5px;
}

.hamburger-icon::after {
  top: -5px;
}

.mobile-menu {
  display: none;
}

.mobile-menu:checked ~ nav {
  max-height: 100vh;
}

.mobile-menu:checked ~ .hamburger .hamburger-icon {
  background: transparent;
}

.mobile-menu:checked ~ .hamburger .hamburger-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.mobile-menu:checked ~ .hamburger .hamburger-icon::after {
  transform: rotate(45deg);
  top: 0;
}

body > .container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  padding: 20px;
  margin: 0 6rem;
}

footer {
  border-top: 1px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
}

#source {
  padding: 0 5px;
}

#source a {
  color: var(--on-bg);
  font-weight: 600;
}

.title {
  padding: 10px 0px;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
    margin: 0 10px;
  }

  .hamburger {
    display: block;
  }

  nav {
    max-height: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 80px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    font-size: 18px;
  }
}
